MS-Excel has an option within the Data (in the menu) to obtain data from the web. Used that and then it allows you to save the table on the wikipedia page to xslx/csv. After that just import the file into the notebook and the notebook autogenerates code (Watson removed it) to use pandas to read the table into a pandas dataframe. This likely works well because we were extracting tabular data. But, as the instructions suggest 'beautiful soup" is also a good alternative. Please note that I set Watson up to remove sensitive code cells because the following code accesses a file in my IBM Cloud Object Storage. It includes my credentials.

In [1]:
# The code was removed by Watson Studio for sharing.

  Postcode           Borough      Neighborhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [2]:
df = df.loc[~df['Borough'].str.startswith('Not assigned')]
df.reset_index(drop=True, inplace=True)
df.head()

  Postcode           Borough      Neighborhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M6A        North York  Lawrence Heights
4      M6A        North York    Lawrence Manor

More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma.

In [3]:
df = df.groupby(['Postcode','Borough'])['Neighborhood'].apply(','.join).reset_index()
df.head()

  Postcode      Borough                          Neighborhood
0      M1B  Scarborough                         Rouge,Malvern
1      M1C  Scarborough  Highland Creek,Rouge Hill,Port Union
2      M1E  Scarborough       Guildwood,Morningside,West Hill
3      M1G  Scarborough                                Woburn
4      M1H  Scarborough                             Cedarbrae

If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.

In [4]:
df.Neighborhood = df.Borough.where(df.Neighborhood == 'Not assigned', df.Neighborhood)
df.loc[df['Postcode'] == "M7A"]

   Postcode       Borough  Neighborhood
85      M7A  Queen's Park  Queen's Park

In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [5]:
df.shape

(103, 3)